In [ ]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
# Read the City and Ride Data
city = pd.read_csv("Data/city_data.csv")
ride = pd.read_csv("Data/ride_data.csv")

In [6]:
# Combine the data into a single dataset
city_ride = pd.merge(city, ride, on="city")

# Display the data table for preview
city_ride.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850